.about_us{
    margin-top: 150px;
    max-height: 100vh;
    max-width: 80%;

    &__heading_wrapper {
        transform: translateX(-50%);
        text-align: center;

        p{
            font-weight: 400;
            font-size: 30px;
        }

        h2 {
            font-size: 40px;
            font-weight: 200;
        }
    }

    &__description {
        line-height: 1.6em;
        font-weight: 150;
        padding: 2em;
        padding-right: 3em;
    }
}

.hero-image {
    filter: brightness(0.6);
}
