.logo-section {
    max-width: 90%;
}

.logo-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: hidden;
    /* ukryj zawartość, która wychodzi poza szerokość strony */
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    /* każdy logo-wrapper rozciąga się, aby wypełnić dostępną przestrzeń */
}

.logo-image {
    max-width: 100%;
    /* obrazek skaluje się proporcjonalnie do szerokości logo-wrapper */
}